body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Readex Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 70vw;
  margin: auto;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.all-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap:10px;
  grid-column-gap:30px ;
  margin: auto;
}
.thumb-container img{
  width: 120px;
  height: 120px;
}
.thumb-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  border-radius: 2px;
  text-align: center;
}

.fire{
  background-color: rgb(245, 154, 19);
}
.detail-wrapper{
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

.detail-wrapper h3::first-letter{
  text-transform: uppercase;
}
.detail-wrapper small{
  margin-bottom: 15px;
}
.true{
  opacity: 1;
  transform: scale(1);
}
.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #F6D6A7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #F4F4F4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #FBE3DF;
}
.grass {
  background-color:#E2F9E1;
}
.water {
  background-color:#E0F1FD;
}
.number{
  background-color: transparent;
}

.nav-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button{
  display: flex;
  justify-content: center;
}

.load-more{
  background: #2f47ff linear-gradient(#5b54ed,#01d2f7) repeat-x;
  border-radius: 50px;
  border: 1px solid #c6c6c6;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1.5rem;
  font-family: 'Kumbh Sans', sans-serif;
  min-width: 50%;
  margin-top: 1rem;
  cursor: pointer;
}
.nav-main .link i{
  margin-right: 20px;
  font-size: 25px;
  color: #000;
}

@media (max-width:1240px){
  body{
    width: 90%;
  }
  .all-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
  }
  .nav-main{
    width: 72vw;
    margin: auto;
  }
}

@media (max-width:900px){
  body{
    width: 90%;
  }
  .all-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
  }
  .nav-main{
    width: 72vw;
    margin: auto;
  }
}

@media (max-width:768px){
  body{
    width: 90%;
  }
  .all-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
  }
  .nav-main{
    width: 72vw;
    margin: auto;
  }
}


@media (max-width:560px){
  body{
    width: 90%;
  }
  .all-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
  }
  .nav-main{
    width: 72vw;
    margin: auto;
  }
}

@media (max-width:375px){
  body{
    width: 90%;
  }
  .all-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
  }
  .nav-main{
    width: 72vw;
    margin: auto;
  }
}
@media (max-width:360px){
  body{
    width: 100vw;
  }
  .all-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: auto;
  }
  .nav-main{
    width: 90%;
    margin: auto;
  }
}
